.blogSelect {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none"><path d="M4 9l8 8l8-8" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></svg>')
    96% / 15% no-repeat #fff;
  border-radius: 5px;
  border: 1px solid #000;
  font-size: 16px;
  height: 40px;
  margin-left: 20px;
  padding: 5px 20px 5px 5px;
  text-align: center;
  width: 125px;
}
