.blogItem {
  border: 1px solid black;
  margin: 20px auto;
  max-width: 650px;
  padding: 5px 0;
}

.row {
  align-items: center;
  display: flex;
  height: 30 px;
  justify-content: space-between;
  padding: 5px 10px;
}

.likes {
  text-align: right;
  width: 50px;
}

.small {
  font-size: small;
}
