.blogItem {
  border: 1px solid black;
  margin: 20px auto;
  max-width: 650px;
  padding: 5px 0;
}

.row {
  align-items: center;
  display: flex;
  height: 30 px;
  justify-content: space-between;
  padding: 5px 10px;
}

.icons {
  display: flex;
  text-align: right;
}

.icon {
  color: #000;
  cursor: pointer;
}

.small {
  font-size: small;
}

.iconButton {
  background: none;
  border: none;
}

.deleteModal {
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin: 30px auto 20px;
  width: 200px;
}

.cancelButton {
  background: none;
  border: 1px solid #000;
  color: #000;
}
