.formPage {
  padding: 0 20px;
  margin: auto;
  max-width: 650px;
}

.form .section {
  margin-top: 10px;
}

.form input[type='text'] {
  height: 30px;
  padding: 5px;
  width: 100%;
}

.form textarea {
  height: 150px;
  padding: 5px;
  width: 100%;
}

.form input[type='submit'] {
  display: block;
  height: 40px;
  margin: 20px 0 30px;
  width: 100%;
}
