.header {
  background-image: url('/images/sleeping-woman.jpg');
  background-repeat: no-repeat;
  min-height: 300px;
  padding: 15px;
  text-align: center;
  width: 100%;

  color: honeydew;

  // margin: 20px;
  text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8),
    -3px 0px 7px rgba(81, 67, 21, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);
}
.title {
  font-size: 4em;
  font-weight: 600;
  line-height: 1em;
}

.tagline {
  font-size: 2em;
  font-weight: 600;
  line-height: 1em;
  margin: 130px 20px 20px 20px;
  text-align: right;
}

@media (max-width: 768px) {
  .title {
    font-size: 2.7em;
    line-height: 1.1em;
    margin-top: 0em;
  }
  .tagline {
    display: none;
  }
}
